:root{
  --primary-color: #ff9800;
  --rgba-primary-color: rgba(255, 152, 0, 0.4) 0%;
}
.App {
  text-align: center;
  background-color: #26262d !important;
  min-height: 100vh;
}
.cursor-follower {
  margin: -13px 0 0 -13px;
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transition: transform 1s cubic-bezier(.02,1.2,.8,1),opacity .25s ease;
  transition: transform 1s cubic-bezier(.02,1.2,.8,1),opacity .25s ease;
  opacity: .4;
  z-index: 1111;
  pointer-events: none;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
}

.main-container{
  padding: 4rem;
}
.d-flex{
  display: flex !important;
}
.flex-row{
  flex-direction: row;
}
.App-header{
  justify-content: flex-start;
  align-content: center;
  margin: 2rem;
}


.text-primary{
  color: var(--primary-color);
}
.font-large{
  font-size: 2.5em !important;
}
.font-medium{
  font-size: 1.8em !important;
}
.text-white{
  color: white;
}
.card-inner{
  box-shadow: 15px 10px black;
}
.mb-1{
  margin-bottom: 1rem;
}

.wave{
  width: 30vw;
  position: fixed;
  transform:rotate(20deg);
  top: -15rem;
  right: 0px;
  transition: width 1s;
  transition-timing-function: ease-out;
}
.collapse-card{
  width: 0px;
  transition: width 2s;
  transition-timing-function: ease-out;
}
.card-active{
  width: 100%;
}
.wave:hover{
  width: 100vw;
}
.cards-container{
  width: 40vw;
}

.page{
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .cards-container{
    width: 100%;
  }
  .wave{
    top: -10rem !important;
  }
  .main-container{
    padding: 1rem;
  }
  .d-fade{
    width: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
  }

}

#cursor {
  border-left: .1em solid var(--primary-color);
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../fonts/Poppins-Black.ttf) format('truetype');
}
